.global-style{
    width: 940px;
}

.header-tyle{
    width: 940px;
}

.input-name-style{
    display: inline;
}

.input-style{
    width: 509px;
    height: 102px;
    border: solid;
    border-radius: 19px;
    font-size: 48px;
    font-weight: bold;
}

.btn-play-style{
    display: inline;
}

.btn-play{
    width: 360px;
    height: 91px;
    font-size: 48px;
    font-weight: bold;
}

.button-play-style{
    width: 313px;
    height: 313px;
}

